<footer class="bg-vblue">
    <div class="px-6 py-20 mx-auto overflow-hidden max-w-7xl sm:py-24 lg:px-8">
      <nav class="-mb-6 columns-2 sm:flex sm:justify-center sm:space-x-12" aria-label="Footer">
        <div class="pb-6">
          <a href="#services" class="text-sm leading-6 text-gray-300 hover:text-gray-100">Υπηρεσίες</a>
        </div>
        <div class="pb-6">
          <a href="#statement" class="text-sm leading-6 text-gray-300 hover:text-gray-100">Σκοπός</a>
        </div>
        <div class="pb-6">
          <a href="#ourWork" class="text-sm leading-6 text-gray-300 hover:text-gray-100">Έργα</a>
        </div>
        <div class="pb-6">
          <a href="#costCalculation" class="text-sm leading-6 text-gray-300 hover:text-gray-100">Εκτίμηση κόστους</a>
        </div>
        <div class="pb-6">
          <a href="#whyUs" class="text-sm leading-6 text-gray-300 hover:text-gray-100">Γιατί εμάς</a>
        </div>
        <div class="pb-6">
          <a href="#contact" class="text-sm leading-6 text-gray-300 hover:text-gray-100">Επικοινωνία</a>
        </div>
      </nav>
      <p class="mt-10 text-xs leading-5 text-center text-gray-300">&copy; 2023 VPAINT. All rights reserved.</p>
      <p class="mt-10 text-sm leading-5 text-center text-white">⌨️ built by <a class="font-bold" target="_blank" href="https://github.com/teobourloglou">@teobourloglou</a></p>
    </div>
  </footer>
  