<div class="px-6 py-12 mx-auto max-w-7xl lg:px-8">
  <div class="max-w-3xl mx-auto lg:text-center">
    <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Μερικά από τα έργα μας</p>
  </div>
  <div class="grid grid-cols-1 gap-4 pt-12 pb-24 mx-auto md:grid-cols-4">
    <div class="grid gap-4">
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img1.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img2.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img3.jpg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img4.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img5.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img6.jpg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img7.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img8.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img9.jpg" alt="">
      </div>
    </div>
    <div class="grid gap-4">
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img10.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img11.jpg" alt="">
      </div>
      <div class="object-contain h-full max-h-screen overflow-hidden">
          <img class="object-cover w-full h-full rounded-lg max-h-fit" src="./media/img12.jpg" alt="">
      </div>
    </div>
  </div>
</div>
