   <div class="py-24 bg-white sm:py-32">
    <div class="px-6 mx-auto max-w-7xl lg:px-8">
      <div class="max-w-2xl mx-auto text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Οι υπηρεσίες μας</h2>
        <p class="mt-2 text-lg leading-8 text-center text-gray-600">Εργασίες ελαιοχρωματισμών, σπατουλαριστά, εποξειδικές βαφές, τεχνοτροπίες, υγρομόνωση ταράτσας, θερμοπρόσοψη και ανακαινίσεις επαγγελματικών και οικιακών χώρων.</p>
      </div>
      <div class="grid max-w-2xl grid-cols-1 gap-8 mx-auto mt-16 auto-rows-fr sm:mt-20 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-gray-900 isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80">
          <img src="./media/service-elaiochromatismoi.jpg" alt="" class="absolute inset-0 object-cover w-full h-full -z-10">
          <div class="absolute inset-0 opacity-75 -z-10 bg-gradient-to-t from-vblue via-vblue/40"></div>
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-vblue/10"></div>
          <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            Εργασίες ελαιοχρωματισμών - Βαφές
          </h3>
        </article>
        <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-vblue isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80">
          <img src="./media/service-spatoularisto.jpg" alt="" class="absolute inset-0 object-cover w-full h-full -z-10">
          <div class="absolute inset-0 opacity-75 -z-10 bg-gradient-to-t from-vblue via-vblue/40"></div>
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-vblue/10"></div>
          <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            Σπατουλαριστά
          </h3>
        </article>
        <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-vblue isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80">
          <img src="./media/service-technotropia.jpg" alt="" class="absolute inset-0 object-cover w-full h-full -z-10">
          <div class="absolute inset-0 opacity-75 -z-10 bg-gradient-to-t from-vblue via-vblue/40"></div>
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-vblue/10"></div>
          <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            Τεχνοτροπίες
          </h3>
        </article>
        <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-vblue isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80">
          <img src="./media/service-ygromonoseis.jpg" alt="" class="absolute inset-0 object-cover w-full h-full -z-10">
          <div class="absolute inset-0 opacity-75 -z-10 bg-gradient-to-t from-vblue via-vblue/40"></div>
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-vblue/10"></div>
          <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            Υγρομονώσεις ταράτσας
          </h3>
        </article>
        <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-vblue isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80">
          <img src="./media/service-thermoprosopsi.jpg" alt="" class="absolute inset-0 object-cover w-full h-full -z-10">
          <div class="absolute inset-0 opacity-75 -z-10 bg-gradient-to-t from-vblue via-vblue/40"></div>
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-vblue/10"></div>
          <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            Θερμοπροσόψεις
          </h3>
        </article>
        <article class="relative flex flex-col justify-end px-8 pb-8 overflow-hidden bg-vblue isolate rounded-2xl pt-80 sm:pt-48 lg:pt-80">
          <img src="./media/service-epokseidiki.jpg" alt="" class="absolute inset-0 object-cover w-full h-full -z-10">
          <div class="absolute inset-0 opacity-75 -z-10 bg-gradient-to-t from-vblue via-vblue/40"></div>
          <div class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-vblue/10"></div>
          <h3 class="mt-3 text-lg font-semibold leading-6 text-white">
            <span class="absolute inset-0"></span>
            Εποξειδικές βαφές
          </h3>
        </article>
        
  
        <!-- More posts... -->
      </div>
    </div>
  </div>
  