<div class="py-24 bg-white">
    <p class="mx-auto mt-2 text-3xl font-bold tracking-tight text-center text-gray-900 sm:text-4xl">Γιατί να μας επιλέξετε;</p>
    <div class="py-24 mx-auto max-w-7xl sm:px-2 sm:py-32 lg:px-4">
      <div class="grid max-w-2xl grid-cols-1 px-4 mx-auto gap-x-8 gap-y-12 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
        <div class="sm:flex">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <img class="h-24 w-28" src="./media/deposit-svgrepo-com.svg" alt="">
            </div>
          </div>
          <div class="mt-3 sm:ml-3 sm:mt-0">
            <h3 class="text-sm font-semibold text-gray-900">Οικονομικές τιμές</h3>
            <p class="mt-2 text-sm text-gray-500">Κατανοούμε τη σημασία της οικονομίας, γι' αυτό προσφέρουμε υπηρεσίες χρωματισμού που συνδυάζουν την υψηλή ποιότητα με προσιτές τιμές. Θέλουμε να καθιστούμε τον χώρο σας όμορφο χωρίς να επιβαρύνουμε τον προϋπολογισμό σας.</p>
          </div>
        </div>
        <div class="sm:flex">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <img class="h-24 w-28" src="./media/verified-svgrepo-com.svg" alt="">
            </div>
          </div>
          <div class="mt-3 sm:ml-3 sm:mt-0">
            <h3 class="text-sm font-semibold text-gray-900">Απόλυτη συνέπεια και αξιοπιστία</h3>
            <p class="mt-2 text-sm text-gray-500">Η αξία της συνέπειας είναι η βάση της επιτυχημένης συνεργασίας μας. Υποσχόμαστε και παραδίδουμε την υψηλότερη δυνατή ποιότητα και αξιοπιστία σε κάθε εργασία που αναλαμβάνουμε.</p>
          </div>
        </div>
        <div class="sm:flex">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <img class="h-24 w-28" src="./media/check-in-svgrepo-com.svg" alt="">
            </div>
          </div>
          <div class="mt-3 sm:ml-3 sm:mt-0">
            <h3 class="text-sm font-semibold text-gray-900">Εμπειρία ετών</h3>
            <p class="mt-2 text-sm text-gray-500">Με πολυετή εμπειρία στον χώρο, γνωρίζουμε κάθε πτυχή του χρωματισμού. Η εμπειρία μας μας επιτρέπει να παρέχουμε λύσεις που ξεπερνούν τις προσδοκίες σας.</p>
          </div>
        </div>
        <div class="sm:flex">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <img class="h-24 w-28" src="./media/risk-assessment-svgrepo-com.svg" alt="">
            </div>
          </div>
          <div class="mt-3 sm:ml-3 sm:mt-0">
            <h3 class="text-sm font-semibold text-gray-900">Εγγύηση εργασιών</h3>
            <p class="mt-2 text-sm text-gray-500">Η εμπιστοσύνη σας είναι πολύτιμη για μας. Προσφέρουμε εγγύηση σε κάθε εργασία μας, διασφαλίζοντας ότι είστε απόλυτα ικανοποιημένοι με το αποτέλεσμα.</p>
          </div>
        </div>
        <div class="sm:flex">
          <div class="sm:flex-shrink-0">
            <div class="flow-root">
              <img class="h-24 w-28" src="./media/vip-svgrepo-com.svg" alt="">
            </div>
          </div>
          <div class="mt-3 sm:ml-3 sm:mt-0">
            <h3 class="text-sm font-semibold text-gray-900">Επώνυμα προϊόντα</h3>
            <p class="mt-2 text-sm text-gray-500">Χρησιμοποιούμε μόνο επώνυμα προϊόντα που εγγυώνται αντοχή και εξαιρετική ποιότητα. Η επιλογή μας για προϊόντα επώνυμων εταιρειών εξασφαλίζει μακροχρόνια προστασία και αισθητική.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  